@import '../../StyledVars/vars';

.header {
	font-size: $header_font-size;
	font-family: $header_font-family;
	display: flex;
	letter-spacing: 0.5px;
	padding-inline-start: 80px;
	justify-content: center;
}

@media (max-width: $tablet) {
	.header {
		padding: 0;
		order: 1;
		display: flex;
		flex-wrap: wrap;
	}
}