@import './fonts';
//Header
$header_font-size: 17px;
$header_bg: #fff;
$header_font-family: 'Pathway Gothic One', sans-serif;
$main_font-family: 'Pathway Gothic One', sans-serif;
$second_font-family: 'PT Sans Narrow', sans-serif;

$phone: 320px;
$tablet: 768px;
$desktop: 1024px;


//Main

//Footer